body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.formulario-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: border-color 0.3s ease;
  height: 450px;
}

.formulario-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

input[type="email"] {
  padding: 10px;
  font-size: 16px;
    border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}