

  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #ffffff;
    text-align: center;
  }

  ul {
    margin-top: 15px;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
  }